@font-face{
  font-family: "Original Yu Gothic";
  src: local("Yu Gothic");
  font-weight: 300;
}

@font-face{
  font-family: "Original Yu Gothic";
  src: local("Yu Gothic");
  font-weight: 500;
}

@font-face{
  font-family: "Original Yu Gothic";
  src: local("Yu Gothic");
  font-weight: bold;
}
@font-face {
  font-family: "Helvetica Neue";
  src: local("Helvetica Neue Regular");
  font-weight: 100;
}
@font-face {
  font-family: "Helvetica Neue";
  src: local("Helvetica Neue Regular");
  font-weight: 200;
}

/* 全体のスタイル */

html {
	font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Original Yu Gothic", "Yu Gothic", YuGothic, Arial, Meiryo, "M+ 1p", sans-serif;
}
/* IE10以上 */
@media all and (-ms-high-contrast: none)  {
  html {
    font-family: Arial, Meiryo, sans-serif;
  }
}
@media all and (-ms-high-contrast: active) {
  html {
    font-family: Arial, Meiryo, sans-serif;
  }
}

body {
	background-color: white;
	color: #333333;
	font-size: 12pt;
	
}

/* ヘッダー(フッターもこれで) */

.Header {
	text-align: right;
	color: #aaaaaa; font-size: 9pt;
}

/* タイトル (h1) */

h1 {
	color: #333333; font-size: 27pt;
	border-color: #666666; border-width: 0pt 0pt 3.5pt 11pt; border-style: solid;
	background-color: #eeeeee;
	padding: 3pt 0pt 0pt 9pt;
}

/* 各部タイトル (h2) */

h2 {
	margin: 24pt 0px 0px 13pt;
}
h2 .Title {
	color: #339933; font-size: 20pt;
	border-color: #669966; border-width: 0pt 0pt 0pt 11pt; border-style: solid;
	padding: 5pt 19pt 5pt 19pt;
}

/* 難易度・点数表示 (h3) */

h3 {
	text-align: right;
}
h3 .Term {
	color: #999999; font-size: 15pt;
	border-color: #999999; border-width: 1pt 7.5pt 1pt 7.5pt; border-style: solid;
	padding: 0pt 7.5pt;
}

/* サブタイトル (h4) */

h4{
	margin: 11pt 0pt 0pt 26pt;
}
h4 .IOTitle {
	color: #333399; font-size: 15pt;
	border-color: #666699; border-width: 1pt 9pt; border-style: solid;
	padding: 0.7pt 10pt 0.7pt 10pt;
}

/* サブメニュー (h5) */
h5{
	margin: 7.5pt 0pt 0pt 57pt;
}
h5 .SubTitle {
	color: #999933; font-size: 12pt;
	border-color: #999966; border-width: 1pt 6pt; border-style: solid;
	padding: 1.5pt 11pt 1.5pt 11pt;
}

/* 入出力例のテキスト */

pre {
	font-size: 12pt;
	font-family: "Courier New", Courier, monospace;
	margin: 3pt 0pt 3pt 60pt;
	padding: 0pt 0pt 0pt 15pt;
	background-color: #eeffee;
	border-color: #999999; border-width: 0pt 0pt 0pt 1.5pt; border-style: dotted;
}

/* テーブル関連 */

table {
	empty-cells: hide;
	margin: 0pt 0pt 0pt 60pt;
}
td, th {
	border-collapse: collapse;
	padding: 2pt 3pt;
}
.tMenu {
	background-color: #e0e0e0;
}
.ct {
	text-align: center;
}

.author {
	font-weight: bold;
	text-decoration: underline;
}
.caution {
	font-weight: bold;
	color: red;
}
.exagge {
	font-weight: bold;
}
.ptitle {
	font-weight: bold;
}

/* その他一般 */

.PText {
	line-height: 150%;
	margin: 7.5pt 0pt 7.5pt 35pt;
}

.Content {
	font-size: 12pt;
	margin: 3pt 0pt 3pt 35pt;
	padding: 0pt 0pt 0pt 15pt;
	background-color: #eeffee;
	border: 1.5pt dotted #999999;
	width: 180pt;
	list-style-position: inside;
	line-height: 167%;
}

.OnMouse:hover {
	background-color: #eeeeff;
}

a { text-decoration: none; color: #6060b0; }
a:hover { color: white; background-color: #6060b0; }
	